#itemsTodo {
  width: 654px;
  height: auto;
  padding-top: 20px;
  padding-left: 56px;
  gap: 8px;
  position: relative;
}

#imgVector {
  width: 4.5px;
  height: 15px;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #aeaeae;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

#btnMenu {
  border: none;
  width: 24px;
  height: 24px;
}
#btnMenu:hover {
  background-color: #aeaeae;
}
