.main {
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.plusBtnContainer {
  position: relative;
}

#btnModalWindow {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  gap: 8px;
  margin-top: 0px;
  margin-right: 100px;
  background-color: #081e34;
}

#sectionTitle {
  width: 1, 280px;
  height: 54px;
  top: 390px;
  padding-left: 80px;
  gap: 24px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #151517;
}

#hr {
  margin-left: 80px;
  margin-right: 80px;
}
