#btnMoveToTrash {
  width: 240px;
  height: auto;

  left: 56px;
  position: absolute;
  border-radius: 12px;
  gap: 10px;
  display: flex;
  padding: 10px 0px 0px 10px;
  background-color: #e4e6e7;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#btnMoveToTrash p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #353535;
  display: flex;
  background-color: aquamarine;
}
#btnMoveToTrash:hover {
  border-color: #081e346b;
  background-color: #081e346b;
  border-width: 0%;
}
#btnMoveToTrash:active {
  background-color: #081e346b;
}
#imgTrash {
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}
