#btnMoveToTrash {
  width: 240px;
  height: auto;
  top: 100%;
  left: 10%;
  position: absolute;
  border-radius: 12px;
  gap: 10px;
  display: flex;
  padding: 10px 0px 0px 10px;
  background-color: #e4e6e7;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#btnMoveToTrash:hover {
  border-color: #081e346b;
  background-color: #081e346b;
  border-width: 0%;
}
#btnMoveToTrash:active {
  background-color: #081e346b;
}
#imgTrash {
  width: 20px;
  height: 20px;
}

#btnForTrash {
  width: 240px;
  height: auto;
  top: 100%;
  left: 10%;
  position: absolute;
  border-radius: 12px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 10px;
  background-color: #e4e6e7;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#insideBtn {
  height: auto;
  gap: 5px;
  display: flex;
  padding: 0x 0px 0px 0px;
  background-color: #e4e6e7;
  border: none;
  cursor: pointer;
}
